body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
 td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.locked-in {
    border: 1px solid red;
}